<div class="container">
	<div class="row">
		<div class="col s5">
			<div class="card">
				<div class="card-content">
					<form #personForm="ngForm" (ngSubmit)="addPerson(personForm)">
						<div class="row">							
							<div class="input-field col s12">
								<input type="text" name="name" #name="ngModel" [(ngModel)] = "personService.selectedPerson.name" placeholder="Ingresar nombre">
							</div>
							
							<div class="input-field col s12">
								<input type="text" name="email" #email="ngModel" [(ngModel)] = "personService.selectedPerson.email" placeholder="Ingresar email">
							</div>
							
							<div class="input-field col s12">
								<input type="text" name="celphone" #celphone="ngModel" [(ngModel)] = "personService.selectedPerson.celphone"  placeholder="Ingresar celular">
							</div>
							
							<div class="input-field col s12">
								<input type="text" name="age" #age="ngModel" [(ngModel)] = "personService.selectedPerson.age"  placeholder="Ingresar edad" rango-edad>
								<div *ngIf="age.errors" class="red">
									La edad no es permitida.
								</div>
							</div>

							<div class="card-action">
								<div class="input-field col s12">
									<button class="btn" (click)="resetForm(personForm)">Limpiar</button>
									<button class="btn right" >Guardar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col s7">
			<table>
				<thead>
					<th>Nombre</th>
					<th>Email</th>
					<th>Celular</th>
					<th>Edad</th>
				</thead>
				<tbody>
					<tr *ngFor="let person of personService.persons">
						<td>{{ person.name }}</td>
						<td>{{ person.email }}</td>
						<td>{{ person.celphone }}</td>
						<td>{{ person.age }}</td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>
</div>

