<nav class="blue">
	<div class="nav-wrapper">
	  <a href="#!" class="brand-logo">Logo</a>
	  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  <ul class="right hide-on-med-and-down" *ngFor="let menu of menuService.menus">
	    <li (click)="onName(menu.label)"><a href="#" >{{menu.label}}</a></li>
	  </ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo" *ngFor="let menu of menuService.menus">
	<li><a href="#">{{menu.label}}</a></li>
</ul>
     
<div class="container">
	<h3>Hola, bienvenido, sabemos que quieres viajar en {{title}} por favor digilenciar el siguiente formulario: </h3>
</div>

